@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

body{
  font-family: "Plus Jakarta Sans";
}

button{
  cursor: pointer !important;
}
.hero-slide-up {
  animation: heroSlideUp 0.9s ease-out;
}

@keyframes heroSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
img{
  position: relative !important;
}
.whyus-section::after, .whyus-section::before {
  content: '';
  position: absolute;
  width: 212px;
  height: 106px;
  right: 0 !important;
  left: inherit !important;
  top: 0;
  background-color: #0000001a;
}
.whyus-section:before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  display: block;
  z-index: 0;
}
.whyus-section:before {
  transition:
  background 0.3s ease,
  border-radius 0.3s ease,
  opacity 0.3s ease;

}
.whyus-section::before {
  height: 212px !important;
  width: 106px !important;
}